[submodule "src/gpu/vdev-virtio-gpu"]
	path = src/gpu/vdev-virtio-gpu
	url = https://github.com/maxmaster55/QNX_vdev-Virtio-GPU.git
[submodule "src/gpu/virglrenderer"]
	path = src/gpu/virglrenderer
	url = https://github.com/maxmaster55/QNX_virglrenderer.git
[submodule "src/gpu/libepoxy"]
	path = src/gpu/libepoxy
	url = https://github.com/maxmaster55/QNX_libepoxy.git
