# add what u want to ignore here

# generated build directories
src/someip/commonapi-qnx/build-rpi/
src/someip/commonapi-qnx/third_party/
src/someip/commonapi_client_server/client/build/
src/someip/commonapi_client_server/server/build/

# ignore host build output directories
qnx_host/install/
qnx_host/src/hardware/devb/sdmmc/aarch64/bcm2711.le/
qnx_host/src/hardware/devc/serminiuart/aarch64/le/
qnx_host/src/hardware/devc/serpl011/aarch64/le/
qnx_host/src/hardware/i2c/bcm2711/aarch64/le/
qnx_host/src/hardware/spi/bcm2711/aarch64/le/
qnx_host/src/hardware/startup/boards/bcm2711/rpi4/aarch64/le/
qnx_host/src/hardware/startup/lib/aarch64/a.le/
qnx_guests/install/
qnx_host/install/
qnx_guests/src/apps/hypervisor/demos/
**/hardware/support/
qnx_guests/src/hardware/startup/boards/
*.o
*.dep
*.a
*.pinfo
*.def
*.ifs
*.img
*.bin
*.sym
src/spi_loopback/spi_loopback
src/rpi-gpio/build
qnx800/
rpi5_hyp
options_file
src/giga_spi_8adc/build/
src/oss_*/*.tar.xz
src/oss_*/*/
src/shm_sender/build/
src/libepoxy/build-qnx
src/virglrenderer/build-qnx