[submodule "src/gpu/vdev-virtio-gpu"]
	path = src/gpu/vdev-virtio-gpu
	url = https://github.com/maxmaster55/QNX_vdev-Virtio-GPU.git
[submodule "src/gpu/virglrenderer"]
	path = src/gpu/virglrenderer
	url = https://github.com/maxmaster55/QNX_virglrenderer.git
[submodule "src/gpu/libepoxy"]
	path = src/gpu/libepoxy
	url = https://github.com/maxmaster55/QNX_libepoxy.git
[submodule "src/motor_data_producer"]
	path = src/motor_data_producer
	url = https://github.com/Mintharah/SPI-Stm32-QNX.git
	branch = spi_qnx_build
[submodule "src/qt_cluster"]
	path = src/qt_cluster
	url = https://github.com/Mintharah/Cluster-Qt6.git
	branch = qt_qnx_build
